
body{
  margin: 0;
  padding: 0;
  display: flex;
}

.homeButton{
  height: 50px;
  width: 50px;
}

.newEventButton{
  height: 50px;
  width: 50px;
  background-color: #fc5d83;
  border-radius: 25px;

  color: white;
  text-align: center;
  line-height: 50px;

  float: right;
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.newEventButton:active{
  background-color: #ff688d;
}

.container{
  height: 712px;
  width: 400px;
}

.headerBar{
  height: 60px;
  width: 400px;
  background-color: #5dd2fc;

}

.title{
  width: 240px;
  height: 60px;

  text-align: center;
  line-height: 60px;

  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  font-family: sans-serif;
}
.headerButton{
  width: 80px;
  height: 60px;

  text-align: center;
  line-height: 60px;

  font-size: 16px;
  color: #ffffff;
  font-family: sans-serif;
}

.contentContainer{
  height: 652px;
  width: 400px;
  background-color: #eff1f4;
  padding-top: 10px;
}

.row{
  height: 80px;
  width: 330px;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.row:active{
  background-color: #d7d7d7;
}

.rowTime{
  height: 25px;
  width: 330px;
  line-height: 25px;
  font-size: 12px;
  font-family: sans-serif;
  color: #666666;
}
.rowTitle{
  height: 55px;
  width: 330px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500px;
  font-family: sans-serif;
}

.graph{
  height: 250px;
  width: 350px;
  background: #ffffff;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.chooserButton{
  height: 50px;
  width: 250px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #fc5d83;

  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #ffffff;
  font-family: sans-serif;
}

.evChooser{
  height: 452px;
  padding-top: 200px;
}

.input{
    text-align: center;
}
