
body{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
}

.homeButton{
  height: 50px;
  width: 50px;
}

.newEventButton{
  height: 50px;
  width: 50px;
  background-color: #004c5c;
  border-radius: 25px;

  color: white;
  text-align: center;
  line-height: 50px;

  float: right;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
/*
.newEventButton{
  position: fixed;
  bottom: 65px;
  left: 320px;
  height: 50px;
  width: 50px;
  background-color: #004c5c;
  border-radius: 25px;

  color: white;
  text-align: center;
  line-height: 50px;
  font-family: sans-serif;
}
*/


.newEventButton:hover{
  background-color: #00768f;
  cursor: pointer;
}

.container{
  height: 712px;
  width: 400px;
  background:#c1b8a2;
}

.headerBar{
  height: 60px;
  width: 400px;
  background-color: #afabd4;
}

.title{
  width: 240px;
  height: 60px;

  text-align: center;
  line-height: 60px;

  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  font-family: sans-serif;
}

.headerButton{
  width: 80px;
  height: 60px;

  text-align: center;
  line-height: 60px;

  font-size: 16px;
  color: #ffffff;
  font-family: sans-serif;
}

.headerButton:hover{
    cursor: pointer;
}

.contentContainer{
  height: 652px;
  width: 400px;
  background-color: #eae7df;
  padding-top: 10px;
}

.row{
  height: 80px;
  width: 330px;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.pastRow{
  height: 625px;
  width: 330px;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.pastName{
  color: #666666;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pastHeader{
  color: #666666;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.pastField{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.row:hover{
  background-color: #d7d7d7;
  cursor: pointer;
}

.rowTime{
  height: 25px;
  width: 330px;
  line-height: 25px;
  font-size: 12px;
  font-family: sans-serif;
  color: #666666;
}

.rowTitle{
  height: 55px;
  width: 330px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500px;
  font-family: sans-serif;
}

.graph{
  height: 250px;
  width: 350px;
  background: #ffffff;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 3px;
}
.graphLabel{
  margin-left: 25px;
}

.chooserButton{
  height: 50px;
  width: 250px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: 	#004c5c;

  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #ffffff;
  font-family: sans-serif;
}

.chooserButton:hover {
    background-color: #006176;
    cursor: pointer;
}

.evChooser{
  height: 452px;
  padding-top: 200px;
}

.input{
  text-align: center;
}

.text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.pastEventsHeader{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.pastHead{
  width: 175px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 45px;
}

.pastHead:hover{
  cursor: pointer;
}

.pastHead:active{
  background-color: #e0dbd0;
}
